.subtitle{
    color:#837E98;
    font-size:500;
    margin:3vh 0 !important;
}
.patients-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:90%;
    justify-content:space-between;
    margin:5vh 0 1vh 0;
}
.patients-header span{
    color:#837E98;
}
.filter-button{
    display:flex;
    flex-direction:row;
    align-items:center;
    cursor:pointer;
}
.patients-cont{
    display:flex;
    flex-direction:column;
    width:90%;
}