.prcontainer-col{
    height:94vh;
    padding: 3vh;
    overflow-y: scroll;
    width:100%;
}
.prcontainer-col p{
    font-size: 16px !important;
    font-weight: 600;
    color: #29214e;
    font-size: 20px;
    margin:1vh;
}
.key-value-inp{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:100%;
}
.key-value-table{
    display:flex;
    flex-direction:column;
    width:100%;
}
.key-value-item{
    display:flex;
    margin:1vh 0;
    align-items: center;
}
.inner-kvi{
    border:solid 1px rgb(196, 196, 196);
    padding:2vh;
    width:50%;
    color:#635f72;
    display: flex;
    align-items: center;
    border-radius:5px;
}
.inner-kvi-100{
    border:solid 1px rgb(196, 196, 196);
    padding:2vh;
    width:100%;
    color:#635f72;
    display: flex;
    align-items: center;
    border-radius:5px;
}
.inner-kvi-30{
    border:solid 1px rgb(196, 196, 196);
    padding:2vh;
    width:30%;
    color:#635f72;
    display: flex;
    align-items: center;
    border-radius:5px;
}
.inner-kvi-60{
    border:solid 1px rgb(196, 196, 196);
    padding:2vh;
    width:60%;
    color:#635f72;
    display: flex;
    align-items: center;
    border-radius:5px;
}
.inner-kvi-70{
    border:solid 1px rgb(196, 196, 196);
    padding:2vh;
    width:70%;
    color:#635f72;
    display: flex;
    align-items: center;
    border-radius:5px;
}